In [0]:
import math
import gzip
from collections import Counter
import pandas as pd

In [0]:
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz' ##This is the file's url that we are reading.

In [0]:
df = pd.read_json(url, lines = True) ##Reading the file into a dataframe.

In [0]:
frequency = [] ##This list will be used to store dictionaries corresponding to word count for each reviewText

In [0]:
#The below loop iterates over every row of the df, splits the reviewText and stores the word count into a dictionary called temp dict, 
#temp dict is later appended to the list called 'frequency'
for index,row in df.iterrows():
  temp_dict = Counter(row['reviewText'].split())
  frequency.append(temp_dict)

In [0]:
df['frequency'] = frequency

In [10]:
df.head()

       reviewerID  ...                                          frequency
0  A32T2H8150OJLU  ...  {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1  A3MAFS04ZABRGO  ...  {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...
2  A1F1A0QQP2XVH5  ...  {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3   A49R5DBXXQDE5  ...  {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4  A2XRMQA6PJ5ZJ8  ...  {'For': 1, 'simple': 1, 'calculations': 2, 'an...

[5 rows x 10 columns]

In [0]:
def word_freq_counter(sentence):

  if type(sentence) == str:
    word_list = sentence.split()

    for word in word_list:

In [0]:
word_freq_counter('hello this is me')

['hello', 'this', 'is', 'me']