In [0]:
from nltk.tokenize import word_tokenize
import spacy
import pandas as pd
from nltk.stem import WordNetLemmatizer 
from itertools import islice
import nltk

In [3]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz' ##This is the file's url that we are reading.

In [0]:
df = pd.read_json(url, lines = True) ##Reading the file into a dataframe.

In [0]:
check_sentence = 'Hello How are you 384972 3284e'

In [7]:
word_tokenize(check_sentence)

['Hello', 'How', 'are', 'you', '384972', '3284e']

In [0]:
##NTLK PIPELINE
def lemmatize(sentence, lemmatizer): 
  return lemmatizer.lemmatize(sentence)

def pos_tag(sentence):
  return nltk.pos_tag(sentence)

def tokenize(sentence):
  return word_tokenize(sentence)

In [17]:
nltk_output = []
lemmatizer_obj = WordNetLemmatizer()
for idx, row in islice(df.iterrows(), 10):
  temp_dict = {}
  print(idx)
  sentence = row['reviewText']
  lemmatized = lemmatize(sentence,lemmatizer = lemmatizer_obj)
  pos_tagged = pos_tag(sentence)
  tokenized  = tokenize(sentence)

  temp_dict['lemmatizer'] = lemmatized
  temp_dict['pos_tag']    = pos_tagged
  temp_dict['tokenizer']  = tokenized

  nltk_output.append(temp_dict)

0
1
2
3
4
5
6
7
8
9

In [0]:
df_new = df[0:10]

In [30]:
df_new.shape

(10, 9)

In [31]:
df_new['NLTK_OUTPUT'] = nltk_output

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
df_new

       reviewerID  ...                                        NLTK_OUTPUT
0  A32T2H8150OJLU  ...  {'lemmatizer': 'I bought my first HP12C in abo...
1  A3MAFS04ZABRGO  ...  {'lemmatizer': 'WHY THIS BELATED REVIEW? I fee...
2  A1F1A0QQP2XVH5  ...  {'lemmatizer': 'I have an HP 48GX that has bee...
3   A49R5DBXXQDE5  ...  {'lemmatizer': 'I've started doing more financ...
4  A2XRMQA6PJ5ZJ8  ...  {'lemmatizer': 'For simple calculations and di...
5  A2JFOHC9W629IE  ...  {'lemmatizer': 'While I don't have an MBA, it'...
6  A38NELQT98S4H8  ...  {'lemmatizer': 'I've had an HP 12C ever since ...
7   AA8M6331NI1EN  ...  {'lemmatizer': 'Bought this for my boss becaus...
8  A25C2M3QF9G7OQ  ...  {'lemmatizer': 'This is a well-designed, simpl...
9  A1RTVWTWZSIC94  ...  {'lemmatizer': 'I love this calculator, big nu...

[10 rows x 10 columns]