In [0]:
import math
import gzip
from collections import Counter
import pandas as pd
import string
import re

In [0]:
url = 'http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz' ##This is the file's url that we are reading.

In [0]:
df = pd.read_json(url, lines = True) ##Reading the file into a dataframe.

In [0]:
vow_consts = [] ##This list will be used to store dictionaries corresponding to word count for each reviewText

In [0]:
def get_consonants_vowel_count(sentence):
  temp_dict = {}
  vowels = 0
  consonants = 0
  total_letters = 0
  numbers = ['0','1','2','3','4','5','6','7','8','9']

  for i in sentence:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'
       or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        vowels = vowels + 1
    elif (i not in numbers and i not in string.punctuation and i != ' ' ):
        consonants = consonants + 1
  
  temp_dict['vowels'] = vowels
  temp_dict['consonants'] = consonants
  temp_dict['total_words'] = len(sentence.split(' '))

  return(temp_dict)

def remove_punctuations(sentence):
  return sentence.translate(None, string.punctuation)

def reg1(Sentence):
  ##This function uses regex to find a sentences which start with B and ends with G
  x = re.findall(r'\b[Bb]\w+',Sentence)
  y = re.findall(r"\b\w+[gG]\b",Sentence)
  reg_d = {'starts with b': x,'ends with g': y}
  return reg_d



def reg2(Sentence):
  #This function uses regex to find a sentence which does not start with B and not ends with g
  x = re.findall(r'\b\w+[Bb]\w+ ',Sentence)
  y = re.findall(r' \b\w+[gG]\w+\b',Sentence)
  reg_d1 = {' not starts with b': x,'not end with g':y}
  return reg_d1

In [0]:
#The below loop iterates over every row of the df, splits the reviewText and stores the word count into a dictionary called temp dict, 
#temp dict is later appended to the list called 'frequency'
for index,row in df.iterrows():
  
  review_string = (row['reviewText'])
  temp_dict = get_consonants_vowel_count(review_string)
  vow_consts.append(temp_dict)

In [0]:
df['vow_consts'] = vow_consts

In [11]:
df.head()

       reviewerID  ...                                         vow_consts
0  A32T2H8150OJLU  ...  {'vowels': 279, 'consonants': 437, 'total_word...
1  A3MAFS04ZABRGO  ...  {'vowels': 1504, 'consonants': 2685, 'total_wo...
2  A1F1A0QQP2XVH5  ...  {'vowels': 134, 'consonants': 235, 'total_word...
3   A49R5DBXXQDE5  ...  {'vowels': 1089, 'consonants': 1775, 'total_wo...
4  A2XRMQA6PJ5ZJ8  ...  {'vowels': 208, 'consonants': 338, 'total_word...

[5 rows x 10 columns]

In [71]:
df['vow_consts'][0]

{'consonants': 437, 'total_words': 195, 'vowels': 279}

In [0]:
df['reg1'] = df.reviewText.apply(reg1)
df['reg2'] = df.reviewText.apply(reg2)

In [13]:
df.head()

       reviewerID  ...                                               reg2
0  A32T2H8150OJLU  ...  {' not starts with b': ['about ', 'reliable ']...
1  A3MAFS04ZABRGO  ...  {' not starts with b': ['obliged ', 'about ', ...
2  A1F1A0QQP2XVH5  ...  {' not starts with b': ['about ', 'number ', '...
3   A49R5DBXXQDE5  ...  {' not starts with b': ['probably ', 'keyboard...
4  A2XRMQA6PJ5ZJ8  ...  {' not starts with b': [], 'not end with g': [...

[5 rows x 12 columns]

NameError: ignored

In [0]:
check